.header-style {
  font-size: 2.5em;
  color: white;
}
@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bebas Neue Regular'), local('BebasNeue-Regular'), url(https://fonts.gstatic.com/s/bebasneue/v1/JTUSjIg69CK48gW7PXoo9Wlhzg.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Martel Sans Regular'), local('MartelSans-Regular'), url(https://fonts.gstatic.com/s/martelsans/v6/h0GsssGi7VdzDgKjM-4d8hjYx-s.ttf) format('truetype');
}
@font-face {
  font-family: 'Martel Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Martel Sans SemiBold'), local('MartelSans-SemiBold'), url(https://fonts.gstatic.com/s/martelsans/v6/h0GxssGi7VdzDgKjM-4d8hAH4_uAH00.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
header {
  background-color: #083108;
  width: 100%;
  height: auto;
  padding: 1em 15em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  header {
    padding: 1% 0 1% 0;
  }
}
h1 {
  display: flex;
  justify-content: center;
  font-size: 2.5em;
  color: white;
  margin: 1%;
}
@media (max-width: 500px) {
  h1 {
    padding: 2%;
  }
}
h2 {
  color: #01FF70;
  font-family: 'Bebas Neue', cursive;
  font-size: 3em;
  margin-bottom: 10px;
  background-color: #083108;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.5em;
  }
}
nav {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}
@media (max-width: 500px) {
  nav {
    flex-direction: column;
  }
}
nav a {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.5em;
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav a {
    display: flex;
    justify-content: center;
    padding: 0.75%;
    font-size: 2em;
    margin: 1% 8% 1% 8%;
    border: 1px solid black;
    border-radius: 4px;
  }
}
nav.a {
  display: flex;
  justify-content: space-around;
  margin: 1%;
}
@media (max-width: 500px) {
  nav.a {
    flex-direction: column;
  }
}
nav.a a {
  font-size: 2.5em;
  color: white;
  text-decoration: none;
}
@media (max-width: 500px) {
  nav.a a {
    display: flex;
    justify-content: center;
  }
}
a:hover {
  color: black;
  background: #01FF70;
}
p {
  font-family: 'Martel Sans', sans-serif;
  line-height: 1.5;
}
footer {
  background-color: darkgreen;
  width: 100%;
  height: auto;
  padding: 1em 15em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
@media (max-width: 500px) {
  footer {
    padding: 1em 2em;
  }
}
address {
  color: #01FF70;
}
copyright {
  color: #01FF70;
}
h3 {
  color: #01FF70;
  font-size: 2.5em;
  margin-bottom: 10px;
}
.social_media {
  display: flex;
}
.social_media .fa {
  border-radius: 50px;
  padding: 20px;
  font-size: 30px;
  width: 65px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.social_media .fa:hover {
  opacity: 0.7;
}
.social_media .fa-facebook {
  background: #3B5998;
  color: white;
}
.social_media .fa-twitter {
  background: #55ACEE;
  color: white;
}
.social_media .fa-instagram {
  background: #125688;
  color: white;
}
* {
  box-sizing: border-box;
}
body.i {
  background: url("https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
body.a {
  background: url("https://images.unsplash.com/photo-1553013746-1a67c06802da?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}
img {
  max-width: 100%;
  width: 45%;
  border-radius: 4px;
  margin: 5%;
}
@media (max-width: 500px) {
  img {
    width: 100%;
  }
}
h2 {
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
  background-color: #083108;
  border-radius: 4px;
  padding: 0.25% 1%;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2em;
    display: flex;
    justify-content: center;
    padding: 1% 0 1% 0;
  }
}
p {
  font-family: 'Martel Sans', sans-serif;
  padding: 0.25% 1%;
  line-height: 1.5;
}
.nav-spacer {
  height: 50px;
}
@media (max-width: 500px) {
  .nav-spacer {
    height: 0px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 980px;
  margin: 5em auto 3.5em;
  background: rgba(255, 255, 255, 0.9);
  padding: 2em;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 5px #777777;
}
@media (max-width: 500px) {
  .container {
    box-shadow: none;
  }
}
.container section {
  display: flex;
  flex-direction: row;
  margin: 3.5em 0;
}
.container section:nth-child(2) {
  align-items: flex-end;
  text-align: right;
}
@media (max-width: 500px) {
  .container section:nth-child(2) {
    align-items: flex-start;
    text-align: left;
  }
}
.container section:nth-child(2) p:nth-child(2) {
  padding-left: 30%;
  padding-right: 0;
}
@media (max-width: 500px) {
  .container section:nth-child(2) p:nth-child(2) {
    padding-left: 0;
  }
}
.container section p {
  padding-right: 30%;
  margin: 0.5em 0;
  font-weight: 600;
}
@media (max-width: 500px) {
  .container section p {
    padding-right: 0%;
  }
}
@media (max-width: 500px) {
  .container section.about,
  .container section.nonprofit,
  .container section.owners,
  .container section.dude1,
  .container section.dude2,
  .container section.dude3,
  .container section.dude4,
  .container section.dude5,
  .container section.dude6,
  .container section.dude7 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
